
body
  font-family: Helvetica, Arial, sans-serif
  background-color: #000
  padding: 0
  margin: 0
  color: #fff
  a:link
    color: #88f
  a:visited
    color: #88f
#edit-area
  width: 368px
  margin: 0 auto
  #pattern
    width: 168px
    float: left
  .left-col, .right-col
    width: 100px
    float: left
  .left-col
    text-align: right

#head
  border-bottom: 2px solid #888

  h1
    background: #C00
    padding: 0.2em
    margin: 0
    color: #fff
    text-align: center
    a
      color: #fff
      text-decoration: none
    a:hover
      color: #fff
      text-decoration: underline

#content
  padding: 20px
  background-color: #fff

#debug
  border: 1px solid red
  display: none

ul#channels
  list-style-type: none
  margin: 0
  padding: 0
  li
    margin: 0
    padding 10px
    a.active
      font-weight: bold


ul#functions
  list-style-type: none
  margin: 0
  padding: 0
  li
    margin: 0
    padding: 10px

#toolbar
  width: 120px
  overflow: hidden
  margin: 0 auto
  list-style-type: none
  padding: 0
  text-align: center
  display: block
  clear: both
  li
    display: inline
    a
      border: 2px solid #fff
      padding: 4px 0 0 0
      margin: none
      display: block
      float: left
      &.selected
        border: 2px solid black

      img
        margin: 0
        padding: 0
        top: 0
        left: 0
        display: inline

canvas
  &.pattern-element
    width: 32px
    height: 32px
    background: #ccc
    margin: 5px
    padding: 0
    &.active
      background: #eee
  &#detail-layer
    position: absolute
    top: 0
    left: 0
    width: 160px
    height: 160px
    display: block
    background: #ccc
    z-index: 2
#player
  text-align: center
  margin-top: 20px

#foot
  border-top: 1px solid black
  font-size: 0.8em
  text-align: center
  margin-top: 0
  padding-top: 10px
  background-color: #000
  color: #fff
  border-top: 2px solid #888


.button-delete
  width: 16px
  height: 16px
  background: red url(/images/delete.png) top left no-repeat
  z-index: 4
  display: block
  position: absolute
  overflow: hidden
  line-height: 300px
